.mainmenu 
  display: flex
  justify-content: center

  &__list
    display: flex
    align-items: center

  &__item
    margin: 0 15px

    &-link
      font-size: 1.143rem
      color: $white

      &:hover 
        color: $orange

    &--sale
      .mainmenu__item-link
        color: $orange

        &:hover 
          color: $orangeDark