
mixin equipmentItem(item)
  a.col.equipment__item(href="")
    .equipment__item-top
      img.equipment__item-img(src= item.img, alt= item.name)
    .equipment__item-bottom
      .equipment__item-title= item.name

section.section.equipment
  h2.section-title.section-title--white(class=menuHref!=='/' ? 'section-title' : 'section-title section-title--white') ОБОРУДОВАНИЕ
  if menuHref!=='/'
    .breadcrambs
      ul.breadcrambs__list
        li.breadcrambs__item  
          a.breadcrambs__link(href="/") Главная
        li.breadcrambs__item  
          span Каталог
  .grid.grid--1
    each item in equipmentData
      +equipmentItem(item)
    if (menuHref !== '/catalog')
      a.col.col__more(href="./catalog.html")
        .col__more-title 
          | Посмотреть 
          br
          |все оборудование
        .col__more-btn 
          +icon("arrow-right")