.section-advantages
  background-color: #F8FBFF
  box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.2) inset
.advantages

  &__item 
    display: flex
    flex-direction: column
    width: 100%

  &__img 
    max-width: 210px
    max-height: 210px

    img 
      width: 100%

  .grid .col
    justify-items: start
    place-items: start

  &__list

    &-item
      display: flex
      align-items: center
      margin-top: 35px

  &__icon 
    width: 45px
    height: 45px
    min-width: 45px
    background-repeat: no-repeat
    background-size: contain
    background-position: center
    position: relative

  &__text
    font-size: 1.125rem
    font-weight: 300
    color: $blueDark
    padding-left: 25px