section.section
  h2.section-title.section-title--white КОРЗИНА
  .breadcrambs
    ul.breadcrambs__list
      li.breadcrambs__item  
        a.breadcrambs__link(href="/") Главная
      li.breadcrambs__item 
        span Корзина
  section
    .basket 
      .basket-body
        each item in basketData
          +basketProductCard(item)
      .basket-cheque
        .basket-cheque__inner
          .basket-cheque__top
            .basket-cheque__title Ваш заказ:
            .basket-cheque__count Количество товаров: 
              span.basket-cheque__count-val 200
            .basket-cheque__list
              .basket-cheque__item
                .basket-cheque__item-name Товар 1 
                .basket-cheque__item-count 100 шт
              .basket-cheque__item
                .basket-cheque__item-name Товар 2
                .basket-cheque__item-count 100 шт
              .basket-cheque__item
                .basket-cheque__item-name Товар 3
                .basket-cheque__item-count 100 шт
              .basket-cheque__item
                .basket-cheque__item-name Товар 4
                .basket-cheque__item-count 100 шт
              .basket-cheque__item
                .basket-cheque__item-name Товар 5
                .basket-cheque__item-count 100 шт
              .basket-cheque__item
                .basket-cheque__item-name Товар 5
                .basket-cheque__item-count 100 шт
              .basket-cheque__item
                .basket-cheque__item-name Товар 5
                .basket-cheque__item-count 100 шт
              .basket-cheque__item
                .basket-cheque__item-name Товар 5
                .basket-cheque__item-count 100 шт
          .basket-cheque__bottom
            .basket-cheque__total
              .basket-cheque__total-text Итого: 
              .basket-cheque__total-sum 200 000 000 р.
            .basket-cheque__btns
              a.btn.basket-cheque__btn(href="#sectionOrder") Оформить
  section.section#sectionOrder
    .basket-order
      .basket-order__left
        h2.section-title.section-title--white Отправьте заявку
        p.basket-order__text Наш менеджер свяжется с вами в течение 10 минут
      .basket-order__right
        form.basket-form#basketOrderForm(action="" method="post")
          .basket-form__row.error
            label.label(for="name")
              input.input(type="text" placeholder="ФИО" name="name" required)
            .error-massage Заполните поле
          .basket-form__row
            label.label(for="company")
              input.input(type="text" placeholder="Компания" name="company" required)
            .error-massage Заполните поле
          .basket-form__row
            label.label(for="email")
              input.input(type="email" placeholder="E-mail" name="email" required)
            .error-massage Заполните поле
          .basket-form__row
            label.label(for="phone")
              input.input(type="tel" placeholder="Телефон" name="phone" required)
            .error-massage Заполните поле
          .basket-form__row
            label.label(for="inn")
              input.input(type="text" placeholder="ИНН" name="inn")
          .basket-form__row
            label.label(for="comment")
              textarea.textarea(name="comment", cols="30", rows="5" placeholder="Комментарий")
          .basket-form__row
            .basket-form__btns
              button.btn(type="submit") Отправить

