.section-product
  padding-top: 0
  
.product
  padding: 40px 50px
  background-color: $white
  border-radius: $border-radius

  @include media_768
    padding: 40px 20px

  &__preview
    display: flex

    @include media_768  
      flex-direction: column

  &__slider
    // flex: 2
    width: 40%
    min-width: 360px
    display: flex
    align-items: center
    justify-content: center

    @include media_992
      width: 30%
      min-width: inherit

    @include media_768  
      width: 100%
      margin-bottom: 20px

    img
      max-width: 360px
      width: 100%

  &__detail
    // flex: 3
    width: 60%
    padding-left: 125px

    @include media_992
      width: 70%
      padding-left: 100px

    @include media_768  
      width: 100%
      padding-left: 0

  &__title
    font-size: 1.875rem
    color: $blueDark
    font-weight: 700
  
  &__subtitle
    font-size: 1.25rem
    color: #B9B9B9
    font-weight: 300
    margin-top: 5px

  &__price
    margin-top: 30px

    &-text
      color: $gray-600

    .card__price
      margin-top: 0
      justify-content: inherit
    
      &-sale
        margin-left: 15px

  &__quantity
    margin-top: 20px
    &-title
      color: #D0D9DE
      font-size: 1rem

  &__docs
    margin-top: 40px
    display: flex
    flex-wrap: wrap

    &-link
      margin-right: 20px
      color: $blueDark
      font-size: 1.125rem
      font-weight: 300
      text-decoration: underline
      transition: $transitionAll
      white-space: nowrap
      margin-bottom: 10px
      &:hover 
        color: $blue
        transition: $transitionAll
        
  &__btns 
    margin-top: 30px

  &__description
    margin-top: 45px

  &-tabs
    display: flex
    position: relative
    width: 100%
    border-bottom: 1px solid $blueDark
    overflow: hidden
    padding: 0 40px

    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 50px
      height: 100%
      background-color: $white
      z-index: 2

    &::after
      content: ''
      position: absolute
      top: 0
      right: 0
      width: 50px
      height: 100%
      background-color: $white
      z-index: 2

    &__swiper-button
      color: $blueLight


    &__item
      padding: 15px
      margin-right: 10px
      font-weight: 300
      border-bottom: 2px solid transparent
      transition: $transitionAll
      white-space: nowrap
      &.swiper-slide 
        width: auto

      &:hover 
        cursor: pointer
        border-bottom: 2px solid $blue
        transition: $transitionAll
        @include media_768
          border-bottom: 2px solid $white

      &.active
        border-bottom: 2px solid $blueDark
        transition: $transitionAll
      
    &-body
    
      &-inner
        display: none
        &.active
          display: block


  &-tabs-body
    margin-top: 30px

    .text-block__paragraph
      font-weight: 300

    .text-block__list
      font-weight: 300