h2.section-title НАШИ ФИЛИАЛЫ И ПАРТНЕРЫ
.partners
  .partners__left
    .partners__block.partners__block--orange
      .partners__title Филиалы
      ul.partners__list
        li.partners__item Санкт-Петербург
        li.partners__item.active Ростов-на-Дону
        li.partners__item Нижний Новгород
        li.partners__item Красноярск
    .partners__block.partners__block--blue
      .partners__title Партнеры
      ul.partners__list
        li.partners__item Калининград
        li.partners__item.active Новоросийск
        li.partners__item Варна (Болгария)
        li.partners__item Мурманск
        li.partners__item Астрахань
        li.partners__item Стамбул (Турция)
        li.partners__item Архангельск
        li.partners__item Владивосток
        li.partners__item Рига (Латвия)
  .partners__right
    .partners__dots
      .partners__dot.partners__dot--1.partners__dot--orange
        .partners__dot-text Санкт-Петербург
      .partners__dot.partners__dot--2.partners__dot--orange
        .partners__dot-text Ростов-на-Дону
      .partners__dot.partners__dot--3.partners__dot--orange
        .partners__dot-text Нижний Новгород
      .partners__dot.partners__dot--4.partners__dot--orange
        .partners__dot-text Красноярск
      .partners__dot.partners__dot--5
        .partners__dot-text Калининград
    img(src="./images/partners/map-partners.png", alt="филиалы и партнеры")