.stocks
  h2.section-title.section-title--white АКЦИИ
  .stocks-slider#stocksSlider
    .swiper-wrapper
      a.swiper-slide.stocks-slide(href="")
        img(src="images/stocks/stock-1.png", alt="")
      a.swiper-slide.stocks-slide(href="")
        img(src="images/stocks/stock-1.png", alt="")
      a.swiper-slide.stocks-slide(href="")
        img(src="images/stocks/stock-1.png", alt="")
      a.swiper-slide.stocks-slide(href="")
        img(src="images/stocks/stock-1.png", alt="")
    .swiper-pagination.stocks-swiper-pagination
  .swiper-button-prev.stocks-btn-prev
  .swiper-button-next.stocks-btn-next
