footer.footer
  .container
    .footer__wrapp
      a.footer__logo(href="")
        img(src="./images/logo/logo.png", alt="")
      .footer__menu
        .footer__menu-block
          .footer__menu-title Каталог товаров
          ul.footer__menu-list
            li.footer__menu-item
              a.footer__menu-link(href="")  Каталог товаров 1
            li.footer__menu-item
              a.footer__menu-link(href="")  Каталог товаров 2
            li.footer__menu-item
              a.footer__menu-link(href="")  Каталог товаров 3
        .footer__menu-block
          .footer__menu-title Услуги
          ul.footer__menu-list
            li.footer__menu-item
              a.footer__menu-link(href="")  Услуга 1
            li.footer__menu-item
              a.footer__menu-link(href="")  Услуга 2
            li.footer__menu-item
              a.footer__menu-link(href="")  Услуга 3
        .footer__menu-block
          .footer__menu-title О нас
          ul.footer__menu-list
            li.footer__menu-item
              a.footer__menu-link(href="")  О нас 1
            li.footer__menu-item
              a.footer__menu-link(href="")  О нас 2
            li.footer__menu-item
              a.footer__menu-link(href="")  О нас 3
      .footer__contacts
        a.footer__phone(href="") 8 (999) 999-99-99
        .footer__adress г. Санкт-Петербург, ул. Новостроек, 29
        a.footer__email(href="mailto:info@seadevice.ru") info@seadevice.ru

        include ../../components/socials/socials

  .footer__copyright © ООО "СИДЕВАЙС", 2022