.main-slider#mainSwiper
  .swiper-wrapper
    .main-slider__slide.swiper-slide
      .main-slider__slide-content
        .main-slider__title 
          | Комплексное 
          br
          | обслуживание флота
        .main-slider__description Оказываем полный комплекс услуг по продаже и обслуживанию радионавигационного и электрического оборудования для судовладельцев.
        .main-slider__btn 
          a.btn(href="#") Подробнее
    .main-slider__slide.swiper-slide
      .main-slider__slide-content
        .main-slider__title 
          | Комплексное 
          br
          | обслуживание флота 2
        .main-slider__description Оказываем полный комплекс услуг для судовладельцев.
        .main-slider__btn 
          a.btn(href="#") Подробнее
  .swiper-pagination
  .swiper-button-prev
  .swiper-button-next
