extends base/pug/base-header-blue

block center-position
  section.section 
    .container
      ul
        li(style="margin-bottom: 15px")
          a(href="/" target="_blank") ✔ Главная 
        li(style="margin-bottom: 15px")
          a(href="/stocks.html" target="_blank") ✔ Акции
        li(style="margin-bottom: 15px")
          a(href="/stock-page.html" target="_blank") ✔ Страница конкретной акции
        //- li(style="margin-bottom: 15px")
        //-   a(href="/skidki.html" target="_blank") Скидки
        li(style="margin-bottom: 15px")
          a(href="/catalog.html" target="_blank") ✔ Каталог
        li(style="margin-bottom: 15px")
          a(href="/product-page-price.html" target="_blank") ✔ Карточка товара с ценой
        li(style="margin-bottom: 15px")
          a(href="/product-page.html" target="_blank") ✔ Карточка товара без цены
        li(style="margin-bottom: 15px")
          a(href="/services-pages.html" target="_blank") ✔ Услуги
        li(style="margin-bottom: 15px")
          a(href="/news-page.html" target="_blank") Страница конкретной услуги
        li(style="margin-bottom: 15px")
          a(href="/about.html" target="_blank") ✔ О компании
        li(style="margin-bottom: 15px")
          a(href="/news.html" target="_blank") ✔ Новости
        li(style="margin-bottom: 15px")
          a(href="/news-page.html" target="_blank") ✔ Страница конкретной новости
        li(style="margin-bottom: 15px")
          a(href="/contacts.html" target="_blank") Контакты
        li(style="margin-bottom: 15px")
          a(href="/basket.html" target="_blank") ✔ Корзина