extends base/pug/base

append variables
  - var title = 'Каталог'
  - var pageClass = 'catalog'
  - var menuHref = '/catalog'


block center-position
  main
    .container
      include ./components/equipment/equipment
  // Подключение svg иконок