extends base/pug/base-header-transparent

append variables
  - var title = 'Каталог'
  - var pageClass = 'catalog'
  - var menuHref = '/catalog'


block center-position
  main
    section.section-bg
      include components/header-main/header-main
      .container
        include ./components/equipment/equipment
  // Подключение svg иконок