extends base/pug/base-header-transparent

append variables
  - var title = 'Главная страница'
  - var pageClass = 'homepage'
  - var menuHref = '/'

block center-position
  main
    section.section-bg.section-double--main
      include components/header-main/header-main
      .container
        include ./components/main-slider/main-slider
        include ./components/equipment/equipment
    include ./components/services/services
    section.section.section-bg
      .container
        include ./components/sales-slider/sales-slider
        include ./components/stocks-slider/stocks-slider
    section.section.section-advantages
      .container
        include ./components/advantages/advantages
    section.section
      .container
        include ./components/partners/partners