extends base/pug/base

append variables
  - var title = 'Главная страница'
  - var pageClass = 'homepage'
  - var menuHref = '/'

block center-position
  main
    section.section-double.section-double--main
      .container
        include ./components/main-slider/main-slider
        include ./components/equipment/equipment
    include ./components/services/services
    section.section.section-double
      .container
        include ./components/sales-slider/sales-slider
        include ./components/stocks-slider/stocks-slider
    section.section.section-advantages
      .container
        include ./components/advantages/advantages
    section.section
      .container
        include ./components/partners/partners
  // Подключение svg иконок

  style(type='text/css').
    .wrapper {
      background-image: url(../images/bg/main-bg.jpg);
      background-size: 125% auto;
      background-repeat: no-repeat;
      background-position: top center;
      height: auto;
    }
    .section-double--main {
      background: none;
    }
    .mainmenu__item-link,
    .header-top__email,
    .header-top__adress,
    .header-basket .basket__link,
    .header-catalog__link {
      color: #fff;
    }