extends base/pug/base-header-transparent

append variables
  - var title = 'Новости'
  - var pageClass = 'news'
  - var menuHref = '/news'
      
include ./components/info-card/info-card

block center-position
  main
    section.section--bg-blue
      include components/header-main/header-main
      section.section
        .container
          h2.section-title.section-title--white Новости
          .breadcrambs
            ul.breadcrambs__list
              li.breadcrambs__item  
                a.breadcrambs__link(href="/") Главная
              li.breadcrambs__item  
                span Новости
          .stocks-block
            .grid.grid--2
              each item in newsData
                +infoCardItem(item)