extends base/pug/base-header-transparent

append variables
  - var title = 'ЛИНЕМЕТ УЛМ-1'
  - var pageClass = 'product-page'
  - var menuHref = '/product-page'

block center-position
  main
    section.section-bg.section-double--main
      include components/header-main/header-main
      section.section 
        .container 
          .breadcrambs
            ul.breadcrambs__list
              li.breadcrambs__item  
                a.breadcrambs__link(href="/") Главная
              li.breadcrambs__item  
                a.breadcrambs__link(href="/") Каталог
              li.breadcrambs__item  
                a.breadcrambs__link(href="/") Навигационные системы
              li.breadcrambs__item  
                a.breadcrambs__link(href="/") Компасы
              li.breadcrambs__item  
                span ЛИНЕМЕТ УЛМ-1

        section.section.section-product
          .container
            .product
              .product__preview
                .product__slider
                  img(src="./images/products/product-1.png", alt="")
                .product__detail
                  .product__title ЛИНЕМЕТ УЛМ-1
                  .product__subtitle Можно добавить текст
                  .product__price 
                    .product__price-text Уточняйте стоимость у менеджеров
                  .product__quantity(style="display: none")
                    .product__quantity-title Количество
                    .counter
                      input.counter__input(type="text" name="count" value="100")
                      .counter__btn.counter__btn-minus —
                      .counter__btn.counter__btn-plus +
                  .product__btns 
                    button.btn(type="button") В корзину
                  .product__docs
                    a.product__docs-link(href="") Сертификат 1
                    a.product__docs-link(href="") Сертификат 2
                    a.product__docs-link(href="") Сертификат 3
              .product__description
                .product-tabs.swiper#productTabs
                  .swiper-wrapper
                    .product-tabs__item.swiper-slide.active Описание 1
                    .product-tabs__item.swiper-slide Дополнительная информация1
                    .product-tabs__item.swiper-slide Другая информация
                  .swiper-button-prev.product-tabs__swiper-button.product-tabs__swiper-button--prev
                  .swiper-button-next.product-tabs__swiper-button.product-tabs__swiper-button--next
                .product-tabs-body
                  .product-tabs-body-inner.active
                    .text-block 
                      p.text-block__paragraph
                        b Saura T-130 VB 
                        | - это компактный магнитный компас,который также называется путевым. Имеет одобрение Морского и Речного регистров. Благодаря небольшим размерам компас прост в установке и не занимает много места. Рекомендован к использованию на небольших судах в качестве путевого компаса. Подсветка картушки осуществляется сверху. 
                      p.text-block__paragraph
                        b Saura T-130 VB
                        | - это компактный магнитный компас,который также называется путевым. Имеет одобрение Морского и Речного регистров. Благодаря небольшим размерам компас прост в установке и не занимает много места. Рекомендован к использованию на небольших судах в качестве путевого компаса. Подсветка картушки осуществляется сверху. 
                      ul.text-block__list
                        li компактный магнитный компас
                        li путевой
                        li морского и Речного регистров
                  .product-tabs-body-inner
                    .text-block 
                      p.text-block__paragraph
                        b Saura T-130 VB Saura T-130 VB 
                        | - это компактный магнитный компас,который также называется путевым. Имеет одобрение Морского и Речного регистров. Благодаря небольшим размерам компас прост в установке и не занимает много места. Рекомендован к использованию на небольших судах в качестве путевого компаса. Подсветка картушки осуществляется сверху. 
                      p.text-block__paragraph
                        b Saura T-130 VB
                        | - это компактный магнитный компас,который также называется путевым. Имеет одобрение Морского и Речного регистров. Благодаря небольшим размерам компас прост в установке и не занимает много места. Рекомендован к использованию на небольших судах в качестве путевого компаса. Подсветка картушки осуществляется сверху. 
                  .product-tabs-body-inner
                    .text-block 
                      p.text-block__paragraph
                        b тут будет другая информация
     
     




        //- .text-block
        //- .text-block__img
        //-   img(src="./images/stocks/stock-1.png", alt="")
        //- p.text-block__paragraph Поставка, продажа, проектирование, монтаж, ПНР сертифицированного радионавигационного оборудования, средств радио связи.Поставка, продажа, проектирование, монтаж, ПНР сертифицированного радионавигационного оборудования, средств радио связи.Поставка, продажа, проектирование, монтаж, ПНР сертифицированного радионавигационного оборудования, средств радио связи.
        //- ul.text-block__list
        //-   li Поставка, продажа, проектирование
        //-   li Поставка, продажа, проектирование
        //-   li Поставка, продажа, проектирование
        //- p.text-block__paragraph Поставка, продажа, проектирование, монтаж, ПНР сертифицированного радионавигационного оборудования, средств радио связи.Поставка, продажа, проектирование, монтаж, ПНР сертифицированного радионавигационного оборудования, средств радио связи.Поставка, продажа, проектирование, монтаж, ПНР сертифицированного радионавигационного оборудования, средств радио связи.
        