extends base/pug/base

append variables
  - var title = 'Скидки'
  - var pageClass = 'skidki'
  - var menuHref = '/skidki'


block center-position
  main
    .container
      
  // Подключение svg иконок