extends base/pug/base-header-transparent

append variables
  - var title = 'Акции'
  - var pageClass = 'stocks-page body-bg-img'
  - var menuHref = '/stocks'
      
include ./components/info-card/info-card

block center-position
  main
    section
      include components/header-main/header-main
      section.section.section-stocks
        .container
          h2.section-title.section-title--white Акции
          .breadcrambs
            ul.breadcrambs__list
              li.breadcrambs__item  
                a.breadcrambs__link(href="/") Главная
              li.breadcrambs__item  
                span Акции
          .stocks-block
            .grid.grid--2
              each item in stocksData
                +infoCardItem(item)