.sales
  h2.section-title.section-title--white СКИДКИ
  .sales-slider#salesSlider
    .swiper-wrapper
      each item in productsData
        .swiper-slide.sales-slider
          +productCard(item)
    .swiper-button-prev 
    .swiper-button-next 
  
